body {
    background-color: #EEE;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 67px;
    background-color: #C3CFD9;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.title h1{
    text-align: center;
    font-size: 34px;
    color: #E8833A;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

h2{
    margin-top: 110px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
}

.movies{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.movies img {
    width: 129px;
    border-radius: 3px;
}

.movie {
    position: relative;
    margin-bottom: 27px;
    margin-left: 27px;
    width: 145px;
    height: 209px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie span{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'Roboto', sans-serif;
}

.session-time{
    margin-left: 24px;
}

.bottom-space{
    margin-bottom: 147px;
}

.session-time p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #293845;
    margin-bottom: 22px;
}

.session-time div{
    margin-bottom: 25px;
}

.session-time div span{
    margin-right: 8px !important;
    background-color:#E8833A;
    color: #FFFFFF;
    padding: 8px !important;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif !important;
}

.bottom-session-time{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 117px;
    background-color: #DFE6ED;
    border: 1px solid #9EADBA;
    display: flex;
    align-content: center;
    padding: 22px 18px;
}

.bottom-session-time img{
    width: 48px;
    height: 72px;
}

.bottom-session-time p{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    margin: auto 22px;
}

.seats{
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    align-items: center;
    justify-content: space-around;
}

.seat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.state{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.state div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.state div div, .seat{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.seat{
    cursor: pointer;
}

.state div p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color:#4E5A65;
    margin-top: 10px;
}

.selected{
    background-color: #8DD7CF  !important;
    border: 1px solid #1AAE9E  !important;
}

.available{
    background-color: #C3CFD9;
    border: 1px solid #7B8B99;
}

.unavailable{
    background-color: #FBE192;
    border: 1px solid #F7C52B;
}

.information{
    padding: 24px;
    margin-top: 42px;
}

.information p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #293845;
    margin-bottom: 5px;
}

input{
    width: 100%;
    height: 51px;
    padding: 18px;
    margin-bottom: 10px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #293845;
}

::-webkit-input-placeholder  { 
    color: #AFAFAF; 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: italic;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 147px;
}

button{
    width: 70vw;
    height: 42px;
    background-color: #E8833A;
    border-radius: 3px;
    border: 1px solid orange;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.08em;
    color: #fff;
    cursor: pointer;
}

.sucess-title{
    line-height: 28px;
    letter-spacing: 0.08em;
    padding: 0 100px;
    color:#247A6B;
}

.sucess-informations{
    padding: 30px 29px 50px 29px;
    font-family: 'Roboto', sans-serif;
    color: #293845;
}

.sucess-information-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 20px;
}

.sucess-information{
    font-size: 22px;
    margin-bottom: 8px;
}
